.about-section{
	padding-top: 6rem;
	position: relative;
	.zikjak-line{
		position: absolute;
		top: -19%;
		left: 0;
		height: 100%;
		width: 100%;
		img{
			width: 100%;
		}
	}
	.about-img {
		height: 100%;
		&.single{
			img{
				height: 100%;
			}
		}
		&.double{
			img{
				height: calc(50% - 8px);

				&:first-child{
					margin-bottom: 8px;
				}			
				&:last-child{
					margin-top: 8px;
				}
			}
		}
		img {
			width: 100%;
			object-fit: cover;
		}
	}
	.about-content{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		padding-left: 30px;
		span{
			font-size: 18px;
			font-weight: 800;
			line-height: 40px;
		}
		h2{
			font-weight: 700;
			font-family: 'Pattaya', sans-serif;
			line-height: 45px;
			letter-spacing: 4px;
			color: $primary-color;
			font-size: 36px;
			margin-bottom: 1.5rem;
		}
		p{
			font-size: 16px;
			line-height: 26px;
		}
		.contact-box{
			padding: 10px 0 0;
			display: table;
			.contact-icon{
				margin-bottom: 25px;
				vertical-align: middle;
				display: table-cell;
				background: $primary-color;
				height: 55px;
				width: 70px;
				line-height: 95px;
				font-size: 2.8125rem;
				text-align: center;
				img{
					width: 50%;
				}
			}
			.contact-content{
				padding-left: 25px;
			    padding-right: 40px;
			    display: table-cell;
			    vertical-align: middle;
			    background: rgba($secondary-color, .2);
			    color: $primary-color;
			    p{
			    	margin-bottom: .4rem;
			    	font-size: 16px;
			    	padding-bottom: 0;
			    	font-weight: 600;
			    }
			}
		}
	}
}
@media only screen and (max-width: 991px) {
  	.about-section .about-content {
    	padding-left: 0px !important;
    	padding-top: 40px;
  	}
}
@media only screen and (max-width: 991px) {
  	.about-section .zikjak-line {
		top: -5%;
  	}
}